.DS_Store
.deps
.dirstamp
.libs
.vscode
Makefile
build
compile_commands.json
install_manifest.txt
junk*
x64
*~
*.a
*.db
*.exe
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.lib
*.la
*.lo
*.log
*.o
*.obj
*.pdb
*.plist
.suo
*.tlog
*.user
*.userprefs
*.zip
*.piz
.vs