.DS_Store
.clang-format
.deps
.dirstamp
.libs
.vscode
Makefile
build
compile_commands.json
install_manifest.txt
junk*
x64
*~
*.a
*.db
*.exe
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.lib
*.la
*.lo
*.log
*.o
*.obj
*.pdb
*.piz
*.plist
*.suo
*.swp
*.tlog
*.user
*.userprefs
*.vs
*.zip
include/version_info.hpp
docs/*.pdf
